body {
    font-family: Nunito !important;
}


/* Mas Vendidos */
.cont-bestSeller{
    max-width: 1200px;
}

.bs-title{
    font-size: 20px;
    font-weight: 900;

    margin-left: 30px;
}

.cont-bestSeller hr{
    width: 65px;
    border-bottom: 4.3px solid #C0C0C0;
    opacity: 1;
    margin-left: 30px;
}


/* Newsletter */
.cont-newsletter {
    background-color: #F2F2F2;
}

.nl-title{
    font-size: 22px;
    font-weight: 900;

    color: #333333;
}






/* Estilo de indicadores (carousel y slick) */
.carousel-indicators li, .slick-dots li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: #BDBDBD !important;
    opacity: 1 !important;
    margin-right: 6px;
    margin-left: 6px;
}

.carousel-indicators li.active, .slick-dots li.slick-active {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: #F8475F !important;
}

.slick-dots li button{
    visibility: hidden;
}
