.l-img img{
    float: right;
    width: 52%;
    height: 430px;
}

.l-caption{
    width: 52%;
    height: 430px;

    background: black;
    position: absolute;
}





.l-text{
    color: white;
    margin-top: 132px;
    margin-left: 341px
}

.l-text h3{
    font-size: 30px;
    font-weight: bold;
}

.l-text h2{
    margin-top: 5px;
    font-size: 48px;
    font-weight: 900;
    max-width: 590px;
}


.carousel-indicators{
    margin-bottom: 37px !important;
}



